@charset "ISO-8859-1";
body{
	background-color: black;
}
form {
	
	height:100vh;
}
h1 {
    color:white;
	text-align: center;
}
div{padding:40px;
	margin-left:30vw;
	border:2px solid black;
	height:400px;
	width:600px;
	background-color:white;
	border-radius:0px 100px 0px 100px;
	
}

label {
	margin-bottom:30px;
	font-size:30px;
}
input {
	font-size:30px;
}
#btn{
	border-radius:5px;
	background-color: green;
	
}